
/*base*/
body {
    font: 100% "Droid Sans", "Lucida Grande", Verdana, sans-serif;
    margin:0;
    padding:0;
}
h1, h2, h3 {
    margin:0;
}
a {
    color:#06C;
    text-decoration:none;
}
a:hover {
    text-shadow: 1px 1px 1px #999;
}
ul {
    list-style:none;
    padding:0;
}
/*layout*/
.clear {
    display: block;
    clear: both;
}
header, section, footer, article, menu, nav{ 
    display:block;
}
header, section {
    margin:1em;
}
section {
    margin-bottom:3em;
}
aside {
    float:right;
    width: 30%;
    padding: 1em;
}

menu {
    float:right;
    margin:0;
}
footer {
    position:fixed;
    bottom:0;
    width: 100%;
    text-align:right;
    padding:0.5em 0;
    margin-top
}

footer a {
    margin: 0.5em 1em;
}
footer p {
    margin: 0 0.5em;
}

/*ui*/
.data_column{
    width:50%;
    padding:0.5em;
    border: 1px solid transparent;
    overflow: hidden;
    list-style:none;
}
.data_column:hover {
    cursor:pointer;
    background: #FFE;
}
.disabled {
    opacity:0.5;
    background: #EBEBEB;
}

.ui-selected{
    background: #FFE;
    border: 1px solid #FE0;
    border-radius:0.2em;

    
}
#session {
    float: none;
    position: absolute;
    top: 0;
    right: 1em;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0px 4px #CCC;
    padding: 0.25em 0.5em;
}
#list {
    clear:both;

}
#list li {
    border: 2px solid #FFF;
    border-radius: 5px;
    box-shadow: 0 1px 2px #333;
    margin:1em 0 ;
    padding: 1em;
}
#messages {
    position:fixed;
    top: 0;
    left: 0;
    background: #CF0;
    font-size: 80%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    border: 1px solid #FC6;
}
#message li {
    padding: 0.5em 2em;
}
#messages .control {
    float: right;
}
#messages .error a{
    border: 1px solid #900;
}
#messages strong {
    display:block;
    white-space:pre-wrap;
}


/*Forms*/
label {
    float:left;
    margin-right: 1em;
    width:8em;
    text-align:right;
}

fieldset p {
    float:left;
    margin-right: 1em;
}
fieldset {
    clear: both;
}

input[type="text"],
input[type="password"],
textarea{
    font: 22px 'Inconsolata', 'Monaco', 'Consolas', monospace;
    border: 1px solid #40B086;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border: 1px solid #61851B;
    border-radius: 3px;
    box-shadow: 0 0 15px #71D20B;
    outline:0;
}
.submit {
    text-align:right;
}
input[type="submit"], 
a.call {
    border: 1px solid #61851B;
    border-radius: 5px;
    background: #40B086;
    padding: 5px;
    margin:0 -5px;
    color: #FFF;
}
input[type="submit"]:hover, 
a.call:hover {
    text-shadow: none; 
    cursor:pointer;
    box-shadow:1px 1px 5px #333;
 }

/* Tabs */
.tabs {
}
.ui-accordion-content {
    max-height:400px;
    overflow-y:auto;
}
.ui-tabs-nav {
    padding:0 1em;
    margin:0;
}
.ui-tabs-nav li{
    float:right;
    list-style-type:none;
}

.ui-tabs-nav li a{
    padding:2px 1em 0;
    outline:none;
}
.ui-tabs-selected {
    border:1px solid #CCC;
    border-color: #CCC #CCC #FFF;
    margin: -5px 0 -1px;
    padding: 5px 0 0;
    background: #FFF;
}
.ui-tabs-panel{
    clear:both;
    border:1px solid #CCC;
    border-color: #CCC #F0F0F0;
    border-width:1px 0;
    background: #FFF;
    padding:0 1em;
}

.ui-tabs-hide {
    display:none;
}


/* Tablas */

table {
    margin: 0 -1.1em;    
}
th {
    background: #EEE;
}
td {
    padding: 0 1em;
}
tr:hover td {
    background: #EFEFEF;
}

