{% extends 'manager_proveedor.html' %}
          {% block sidebar-nav %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><h4>Proveedores</h4></li>
                <li class="active">
                    <a href="/providers/new" >Nuevo </a>
                </li>
                <li>
                    <a href="/providers/manager" >Listar </a>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Actualizar Precios</a>
                    <ul class="dropdown-menu">
                        <li> <a href="#"> Desde Archivo </a></li>
                        <li> <a href="#"> Por Articulo </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" >Ver Articulos</a>
                </li>              
            </ul>
          </div><!--/.well -->
          {% endblock %}
          {% block title-module %}
               NUEVO PROVEEDOR
          {% endblock %} 
          {% block content_dynamic %}
            <form method="POST" action="" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="guardar" />
            </form>
        {% endblock %}


