<!doctype html>
<html lang="es-AR">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/screen.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/modernizr.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

<div id="container">
    {% if messages %}
    <ul id="messages">
      {% for message in messages %}
      <li class="{{message.tags}}">
        <a href="#message-{{forloop.counter}}" class="control">X</a><strong id="message-{{forloop.counter}}">{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}

    <header>
      <menu id="session">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
          <a href="/admin">Administración </a>
          {% endif %}
          <strong>{{user}} </strong><a href="/logout?next={{request.path}}">(salir)</a>
        {%else%}
            <a href="/login?next={{request.path}}">Iniciar sesión</a>
        {% endif %}
      </menu>
      <h1>{% block path %}<a href="/">Inicio</a>/{% endblock %}</h1>
    </header>
    <section id="main" role="main">
    {% block page %}
        
    {% endblock %}
    </section>
    <footer>
    {% block footer %}
    {% endblock %}
    </footer>
</div>

</body>
</html>
